@import "_variable-mixin";
@import "_universal-class";
@import "_global";
@import "_navbar";
@import "_hero";
@import "_features";
@import "_slide-control";
@import "_main-control";
@import "_extension";
@import "_question";
@import "_footer-head";
@import "_footer";



@media(max-width: 768px){
  .hero{
    height: 100%;
    text-align: center;
    .grid{
      grid-template-columns: 1fr;
    }
    .hero-text-wrap{
      margin: 3rem 0 7rem 0;
      order: 2;
      h1{
        font-size: 2.1rem;
      }
    }
    .hero-images{
      order: 1;
      width: 90%;
      margin-top: 5rem;
    }
    &::after{
      height: 300px;
      top: 8rem;
      width: 400px;
    }
    .flex-start{
      justify-content: center;
    }
  }
  // slide control
  .slide-control{
    // border: black solid 1px;
    
    height: 300px;
    width: 100%;
    .flex-center{
     
      width: 100%;
      flex-direction: column;
      a{
        width: 100%;
      }
    }
  }
  // slide main

  .slide-main{
    margin-top: -6rem;
    .container{
      height: 1000px;
    }
    &::before{
      left: -10rem;
      width: 700px;
      top: 15rem;
      height: 300px;
    }
  
    .grid{
      grid-template-columns: 1fr;
      height: 100%;
      
      margin: auto;
      .text-wrap{
        
        
        margin-left: -5.8rem;
        margin-top: -6rem;
        text-align: center;
         
        
        .btn{
          margin-top: 1rem;
        }
      }
     
    }
  }
  .extention{
    margin-top: 30rem;
  }
  .footer-head{
    .text-wrap{
      display: flex;
      flex-direction: column;
      justify-content: center;
      .email,.btn{
        margin: 1rem auto;
      }
      .btn{
        width: 200px;
      }
    }
  }
}
@media(max-width: 600px){
  p,li,a{
    font-size: 0.9rem;
  }
  .hero{
    &::after{
      height: 150px;
      top: 9rem;
      width: 250px;
    }
    .hero-text-wrap{
      h1{
        font-size: 2rem;
      }
      p{
        font-size: 1rem;
        margin: 2rem 0;
      }
      .btn{
        font-size: 0.7rem;
      }
    }
  }
  .features-head{
    margin-top: -3rem;
  }
  .slide-control{
    //border: black solid 1px;
    //margin-top: 5rem;
    height: 200px;
  }
  .slide-main{
  //  border: black solid 1px;
    position: relative;
    z-index: -3;
    top: -5rem;
     &::before{
      height: 190px ;
      width: 350px; 
      left: -3rem;
      top: 15rem;
    }
   .text-wrap{
     
     
    h3{
     // border: black solid 1px;
      margin-top: -15rem;
    }
    
   }
  }
  .extention{
    margin-top: 10rem;
  }
  .footer-head{
    .text-wrap{
      h3{
        font-size: 1.5rem;
      }
    }
  }
  .footer{
    height: 100%;
    padding: 1rem;
    .flex{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .menus{
      margin-top: 2rem;
      a{
        font-size: 1rem;
      }
    }
    .social{
     // border: black solid 1px;
      padding: 2rem 2rem 2rem 0.5rem;
      display: flex;
      justify-content: space-between;
    }
  }
}